[submodule "bundle/dockerfile.vim"]
	path = bundle/dockerfile.vim
	url = https://github.com/ekalinin/dockerfile.vim
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/vim-css-color"]
	path = bundle/vim-css-color
	url = https://github.com/ap/vim-css-color
[submodule "bundle/vim-css3-syntax"]
	path = bundle/vim-css3-syntax
	url = https://github.com/hail2u/vim-css3-syntax.git
[submodule "bundle/lightline.vim"]
	path = bundle/lightline.vim
	url = https://github.com/itchyny/lightline.vim
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive.git
[submodule "bundle/jellybeans.vim"]
	path = bundle/jellybeans.vim
	url = https://github.com/nanotech/jellybeans.vim
[submodule "bundle/vim-mundo"]
	path = bundle/vim-mundo
	url = https://github.com/simnalamburt/vim-mundo.git
[submodule "bundle/undotree"]
	path = bundle/undotree
	url = https://github.com/mbbill/undotree
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = https://github.com/majutsushi/tagbar
[submodule "bundle/bundle/vim-illuminate"]
	path = bundle/bundle/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "bundle/vim-illuminate"]
	path = bundle/vim-illuminate
	url = https://github.com/RRethy/vim-illuminate.git
[submodule "bundle/vim-skylight"]
	path = bundle/vim-skylight
	url = https://github.com/voldikss/vim-skylight.git
[submodule "bundle/vim-ezproxy"]
	path = bundle/vim-ezproxy
	url = https://github.com/dzoladz/vim-ezproxy.git
